{% extends '_base.html' %}


{% block title %}
    detail List
{% endblock title %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bold"> سلام {{ user.username }} خوش اومدی </h1>
                {% if task_detail %}
                    <p class="lead fw-normal text-white-50 mb-0">وظایف شما شامل موارد زیر است. </p>
                {% else %}
                    <p class="lead fw-normal text-white-50 mb-0"> شما وظایفی ندارید . </p>
                {% endif %}


            </div>
        </div>
    </header>

    <div class="container mt-4">
        <div class=" row row-cols-1 row-cols-md-2 ">
            {% for task in task_detail %}
                <div class=" col">
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <span class="card-subtitle mb-2 text-muted small py-2"> سازنده :
                                : {{ task.user_Constructive.username }}</span>
                            <span class="text-dark fs-4"> | </span>
                            <span class="card-subtitle mb-2 text-muted small py-2"> انجام دهنده
                                : {{ task.user_doing.username }}</span>
                            <p class="card-text py-3">
                                توضیحات : {{ task.description }}
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted small py-2"> مهلت : {{ task.date_deadline }}
                                , {{ task.time_deadline }}</h6>
                            {% if task.status %}
                                <h6 class="card-subtitle mb-2 text-muted small py-2">انجام شده است . </h6>
                            {% else %}
                                <h6 class="card-subtitle mb-2 text-muted small py-2">انجام نشده است . </h6>
                            {% endif %}
                            {% if task.user_Constructive == user %}
                                <a class="btn btn-outline-secondary fw-custom border-2 my-1"
                                   href="{% url 'update_task_form' task.id %}"> ویرایش </a>
                            {% endif %}
                            {% if task.user_Constructive == user %}
                                <a class="btn btn-outline-secondary fw-custom border-2 my-1"
                                   href="{% url 'task_delete' task.id %}"> حذف </a>
                            {% endif %}
                            {% if task.status %}
                                <a class="btn btn-outline-secondary fw-custom border-2 my-1"
                                   href="{% url 'create_task_done' task.id %}">تغییر توضیحات </a>
                            {% else %}
                                <a class="btn btn-outline-secondary fw-custom border-2 my-1"
                                   href="{% url 'create_task_done' task.id %}"> انجام شد </a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

    {#    <div class="container mt-4">#}
    {#        <div class="row">#}
    {#            <div class="col-sm-9 col-md-6">#}
    {#                {% for task in task_detail %}#}
    {#                <div class="card shadow-sm my-3">#}
    {#                    <div class="card-body">#}
    {#                        <h5 class="card-title">{{ task.title }}</h5>#}
    {#                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ task.user.username }}</h6>#}
    {#                        <p class="card-text py-3">#}
    {#                            {{ task.description }}#}
    {#                        </p>#}
    {#                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ task.date_time}}</h6>#}
    {#                        {% if task.status %}#}
    {#                            <h6 class="card-subtitle mb-2 text-muted small py-2">okkkkk</h6>#}
    {#                        {% else %}#}
    {#                            <h6 class="card-subtitle mb-2 text-muted small py-2">nooooo</h6>#}
    {#                        {% endif %}#}
    {#                    <a class="btn btn-outline-secondary fw-custom border-2 my-1" href="{% url 'update_task_form' task.id %}"> ویرایش  </a>#}
    {##}
    {#                    <a class="btn btn-outline-secondary fw-custom border-2 my-1" href="{% url 'create_task_done' task.id %}">انجام شد </a>#}
    {##}
    {##}
    {##}
    {#                        <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read More</a>#}
    {#                        <a href="/blog/{{ post.id }}" class="btn btn-sm btn-success">Read More</a>#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </div>#}

{% endblock content %}
