{% extends '_base.html' %}


{% block title %}
    detail List
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for task in task_detail %}
                <div class="card shadow-sm my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ task.user.username }}</h6>
                        <p class="card-text py-3">
                            {{ task.description }}
                        </p>
                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ task.date_time}}</h6>
                        {% if task.status %}
                            <h6 class="card-subtitle mb-2 text-muted small py-2">okkkkk</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted small py-2">nooooo</h6>
                        {% endif %}

                    <a class="btn btn-outline-secondary fw-custom border-2 my-1" href="{% url 'create_task_done' task.id %}">انجام شد </a>



{#                        <a href="{% url 'post_detail' post.id %}" class="btn btn-sm btn-success">Read More</a>#}
{#                        <a href="/blog/{{ post.id }}" class="btn btn-sm btn-success">Read More</a>#}

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock content %}
