{% extends '_base.html' %}


{% block title %}
    home List
{% endblock title %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bold"> سلام به سایت مدیریت وظایف خوش آمدید . </h1>
                <p class="lead fw-normal text-white-50 mb-0">لطفا در اسرع وقت وظایف خود را انجام دهید . </p>
            </div>
        </div>
    </header>

    <div class="container mt-4">
        <div class=" row row-cols-1 row-cols-md-2 ">
            {% for task in task_list %}
                <div class=" col">
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <span class="card-subtitle mb-2 text-muted small py-2"> سازنده :
                                : {{ task.user_Constructive.username }}</span>
                            <span class="text-dark fs-4"> | </span>
                            <span class="card-subtitle mb-2 text-muted small py-2"> انجام دهنده
                                : {{ task.user_doing.username }}</span>
                            <p class="card-text py-3">
                                توضیحات : {{ task.description }}
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted small py-2"> مهلت : {{ task.date_deadline }}
                                , {{ task.time_deadline }}</h6>
                            {% if task.status %}
                                <h6 class="card-subtitle mb-2 text-muted small py-2">انجام شده است . </h6>
                            {% else %}
                                <h6 class="card-subtitle mb-2 text-muted small py-2">انجام نشده است . </h6>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock content %}
